*.[ao]
*.stamp
*cscope*
*~
.*.swp
/.deps
/.first-build-message
/.stamps
/Makefile.config
/bindings/python-cffi/build/
/bindings/python-cffi/__pycache__/
/bindings/python-cffi/_notmuch_config.py
/lib/libnotmuch*.dylib
/lib/libnotmuch.so*
/notmuch
/notmuch-shared
/releases
/sh.config
/sphinx.config
/version.stamp
TAGS
tags
/.direnv/
/.envrc
/.pre-commit-config.yaml
/result
/result-*
